TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_NAME=AbsensiSiswa
APP_KEY=
SEED_ADMIN_PASSWORD=
NODE_ENV=development
SESSION_DRIVER=cookie
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=app
DEVICE_USER_PASSWORD=123456
FACE_API_KEY=